
.footer-links {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-left: 4%;
    width: 92%;
    margin-top: 10px;
    margin-bottom: 50px;
}

.footer-nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.experience {
    color: #5a5a58;
    font-size: 12px;
    line-height: 20px;
    font-style: italic;
    text-align: right;
}