
.main-nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 50px;
    width: 92%;
    margin-top: 15px;
    margin-left: 4%;
}

.nav-droite {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.nav-droite a:hover  {
    text-decoration: line-through;
}