.main-nav a {
    color: #ffffff;
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    text-align: left;
    font-size: 80px;
    color: #ffffff;
    font-weight: 400;
    // line-height: 10vmin;
}
h2 {
    text-align: left;
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
}