.main-nav a {
    color: #ffffff;
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    text-align: left;
    font-size: 60px;
    color: #ffffff;
}