.home-page {
    background-color: #212121;
    font-size: 12px;
    line-height: 20px;
    margin: 0 auto;
    height: 100vh;
}
.overblack {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: #141414;
    animation: rideau 1s cubic-bezier(0.87, 0, 0.13, 1) 1 forwards;
}

.center-index {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding-right: 4%;
    padding-left: 4%;
}

.intro-txt {
    width: 100%;
}


.explore a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 2px;
    // padding-left: 100px;
    width: 20%;
}

@media screen and (max-width: 990px) {
    .main-nav {
        background-color: #212121;
    }
    .center-index {
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        .intro-txt {
            width: 100%;
            h1 {
                line-height: 80px;
            }
        }
    }

    .explore {
        visibility: hidden;
    }
}