.home-page {
    background-color: #212121;
    font-size: 12px;
    line-height: 20px;
    margin: 0 auto;
    height: 100vh;
}
.overblack {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: #212121;
    animation: rideau 1s cubic-bezier(0.87, 0, 0.13, 1) 1 forwards;
}


// .overblack {
//     background-color: #000000;
//     z-index: 200;
//     position: absolute;
//     height: 100%;
//     // width: 100%;
//     transform: translate(0);
//     transition: 0.5s all ease-in-out;
// }
// .overblackOut {
//     transform: translateX(100%);
//     visibility: hidden;
// }

// .hero-index {
//     margin: 0 auto;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     height: 100vh;
// }

.center-index {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding-right: 4%;
    padding-left: 4%;
}

.intro-txt {
    width: 80%;
}


.explore a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 2px;
    // padding-left: 100px;
    width: 20%;
}

@media screen and (max-width: 990px) {
    .center-index {
        padding-left: 100px;
        padding-right: 100px;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;

    }
    .intro-txt {
        width: 100%;
    }
    .explore {
        visibility: hidden;
    }
}